@model RealEstateModel

<h2>Edit the company</h2>

@using (Html.BeginForm("Edit", "Company", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Companies[0].Name, "Name")
        @Html.TextBoxFor(c => c.Companies[0].Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Companies[0].City, "City")
        @Html.TextBoxFor(c => c.Companies[0].City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Companies[0].Street, "Street")
        @Html.TextBoxFor(c => c.Companies[0].Street, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Companies[0].Number, "No.")
        @Html.TextBoxFor(c => c.Companies[0].Number, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label asp-for="Brokers[0].Id" class="control-label">Brokers</label>
        <div>
            @Html.DropDownListFor(model => model.BrokerIds, new MultiSelectList(Model.Brokers, "Id", "Name"), new { multiple = "multiple", @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(c => c.Companies[0].Id)
    <button type="submit" class="btn btn-primary">Save changes</button>
    @Html.ActionLink("Cancel", "Index", "Company", null, new { @class = "btn btn-secondary" })
}