@model RealEstateModel

<h2 class="d-inline-block mb-4">Companies</h2>

@Html.ActionLink("Add a company", "Create", "Company", null, new { @class = "btn btn-primary float-right" })

@if (Model.Companies.Count == 0)
{
    <p>There are no Companies</p> }
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Adress</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var company in Model.Companies)
        {
            <tr>
                <td class="text-center">@Html.ActionLink(company.Name, "Details", "Company", new { id = company.Id })</td>
                <td class="text-center">@company.Address</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Company", new { id = company.Id }, new { @class = "btn btn-warning", @style = "color:white" })
                    @Html.ActionLink("Delete", "Delete", "Company", new { id = company.Id }, new { @class = "btn btn-danger", @style = "color:white" })
                </td>
            </tr>}
        </tbody>
    </table>}