@model RealEstateModel

<h2 class="d-inline-block mb-4">List of @Model.Brokers[0].Name @Model.Brokers[0].Surname apartments</h2>

@Html.ActionLink("Add an apartment", "Create", "Apartment", null, new { @class = "btn btn-primary float-right" })

@if (Model.Apartments.Count == 0)
{
    <p>This broker has no apartments assigned</p> }
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">City</th>
                <th class="text-center">Address</th>
                <th class="text-center">Actions</th>
            </tr>s
        </thead>
        <tbody>
            @foreach (var apartment in Model.Apartments)
            {
                <tr>
                    <td class="text-center">@apartment.City</td>
                    <td class="text-center">@apartment.Address</td>
                    <td class="text-center">REMOVE PLACEHOLDER</td>
                </tr>

            }
        </tbody>
    </table>

}