@model RealEstateModel

<h2 class="d-inline-block mb-4">Apartments</h2>

@Html.ActionLink("Add an apartment", "Create", "Apartment", null, new { @class = "btn btn-primary float-right" })

@if (Model.Apartments.Count == 0)
{
    <p>There are no Apartments listed</p> }
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Apartment address</th>
                <th class="text-center">Company name</th>
                <th class="text-center">Brokers in company</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var apartment in Model.Apartments)
        {
            <tr>
                <td class="text-center">@apartment.Address</td>
                <td class="text-center">@apartment.Company.Name</td>
                @if (apartment.Broker_id != 0)
                {
                    <td class="text-center">@Html.ActionLink(apartment.Broker.Name, "Details", "Company", new {id = apartment.Company_id})</td>
                }
                else
                {
                    <td class="text-center">Broker not assigned</td> 
                }

            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", "Apartment", new { id = apartment.Id }, new { @class = "btn btn-warning", @style = "color:white" })
                @Html.ActionLink("Delete", "Delete", "Apartment", new { id = apartment.Id }, new { @class = "btn btn-danger", @style = "color:white" })
            </td>

            </tr>

        }
        </tbody>
    </table>

}